################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/Web_Services/.vs/Web_Services/v16/Server/sqlite3/db.lock
